# Copyright 2020 Jonah Brüchert <jbb@kaidan.im>
# Copyright 2021 Devin Lin <espidev@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

build 
.flatpak-builder

# LSP & IDE
/.clang-format
/compile_commands.json
.clangd
.cache
.idea
/cmake-build*

*.kdev4
.kdev4/krecorder.kdev4
krecorder.kdev4
