#
# SPDX-FileCopyrightText: 2020 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Desktop Entry]
Name=Recorder
Comment=Audio Recorder
Version=1.0
Exec=krecorder
MimeType=application/x-voicememo;
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
