#
# SPDX-FileCopyrightText: 2020 Jonah Brüchert <jbb@kaidan.im>
# SPDX-FileCopyrightText: 2021 Devin Lin <espidev@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Desktop Entry]
Name=Recorder
Name[ar]=المسجل
Name[ca]=Enregistrador
Name[ca@valencia]=Gravador
Name[cs]=Nahrávací zařízení
Name[de]=Recorder
Name[el]=Recorder
Name[en_GB]=Recorder
Name[es]=Recorder
Name[fi]=Recorder
Name[fr]=Enregistreur
Name[it]=Registratore
Name[ka]=ჩამწერი
Name[ko]=녹음기
Name[nl]=Recorder
Name[nn]=Opptakar
Name[pa]=ਰਿਕਾਰਡਰ
Name[pl]=Nagrywarka
Name[pt]=Gravador
Name[pt_BR]=Gravador
Name[ro]=Înregistrator
Name[ru]=Диктофон
Name[sk]=Záznamník
Name[sl]=Recorder
Name[sv]=Inspelare
Name[tr]=Ses Kaydedici
Name[uk]=Записувач
Name[x-test]=xxRecorderxx
Name[zh_CN]=录音机
Name[zh_TW]=錄音
Comment=Audio Recorder
Comment[ar]=مسجل صوتي
Comment[ca]=Enregistrador d'àudio
Comment[ca@valencia]=Gravador d'àudio
Comment[cs]=Nahrávací zařízení zvuku
Comment[de]=Audioaufnahme
Comment[el]=Πρόγραμμα ηχογράφησης
Comment[en_GB]=Audio Recorder
Comment[es]=Grabadora de sonido
Comment[fi]=Äänentallennin
Comment[fr]=Enregistreur audio
Comment[it]=Registratore audio
Comment[ka]=ხმის ჩამწერი
Comment[ko]=오디오 녹음기
Comment[nl]=Geluidsrecorder
Comment[nn]=Lydopptakar
Comment[pa]=ਆਡੀਓ ਰਿਕਾਰਡਰ
Comment[pl]=Nagrywarka dźwięku
Comment[pt]=Gravador de Áudio
Comment[pt_BR]=Gravador de áudio
Comment[ro]=Înregistrator de sunet
Comment[ru]=Запись звука
Comment[sk]=Zvukový záznamník
Comment[sl]=Snemalnik zvoka
Comment[sv]=Ljudinspelare
Comment[tr]=Ses Kaydedici
Comment[uk]=Записувач звукових даних
Comment[x-test]=xxAudio Recorderxx
Comment[zh_CN]=录音机应用
Comment[zh_TW]=錄音工具
Exec=krecorder
Icon=org.kde.krecorder
Type=Application
Terminal=false
Categories=AudioVideo;Audio;Qt;KDE;
X-KDE-FormFactor=desktop;tablet;handset;
